@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black dark:text-white bg-white dark:bg-black;
}

.container {
  min-width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;


  @media (min-width: 768px) {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
  }
  @media (min-width: 1280px) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  @media (min-width: 1536px) {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
  }
}
